Aula_28_09_2021/tiposdedados/*
Aula_21_09_2021/*
!.gitignore
!Aula_28_09_2021/tiposdedados/tiposdedados.csproj
!Aula_28_09_2021/tiposdedados/Program.cs
!Aula_21_09_2021/Program.cs
!Aula_21_09_2021/Curso C#.csproj